<p-sidebar [(visible)]="visible" position="right" (onHide)="onHide()">
  <nav class="col-lg-2 main-sidebar" id="mainSidebar">
                <div class="sidebar-item active" data-section="dashboard">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>لوحة التحكم</span>
                </div>

                <div class="sidebar-item" data-section="contracts">
                    <i class="fas fa-file-contract"></i>
                    <span>إدارة العقود</span>
                </div>
                <div class="sidebar-item" data-section="contracts">
                    <i class="fas fa-file-contract"></i>
                    <span>العقودالمرفوظة  </span>
                </div>
                <div class="sidebar-item" data-section="contracts">
                    <i class="fas fa-file-contract"></i>
                    <span>الإشعارات </span>
                </div>







                <div class="sidebar-divider"></div>



                <div class="sidebar-item" data-section="archive">
                    <i class="fas fa-archive"></i>
                    <span>الأرشيف</span>
                </div>

                <div class="sidebar-divider"></div>

                <div class="sidebar-item" data-section="settings">
                    <i class="fas fa-cogs"></i>
                    <span>الإعدادات</span>
                </div>

                <div class="sidebar-item" data-section="support">
                    <i class="fas fa-headset"></i>
                    <span>الدعم الفني</span>
                </div>
            </nav>
</p-sidebar>
